<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ceritanya Kopi</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
      <div class="container">
        <a class="navbar-brand fw-bold" href="/menus"> ☕ Ceritanya Kopi </a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a href="/menus" class="nav-link"> Menu </a>
            </li>

            <!-- nanti kita kasih kondisi role -->

            <li class="nav-item">
              <a href="/orders" class="nav-link"> My Orders </a>
            </li>

            <li class="nav-item">
              <a href="/logout" class="nav-link text-danger"> Logout </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </body>
</html>
